/* Place CSS styles here */
@font-face {
    font-family: 'DM Serif Display';
    src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DM Sans';
    src: url("../fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



body {
    background-color: #3e4168;
    color: #94dde2;
    font-family: 'DM Serif Display',  serif;
}

body h1, h2, h3{
    font-family: 'DM Sans', sans-serif;
}

.page {
    padding-left: 5%;
}

.page img{
    height: 200px;
    width: 300px;
    filter: drop-shadow(10px 10px 16px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page img:hover{
    filter: drop-shadow(10px 10px 16px #ffffff);
}

a:link{
    color: #ff0000;
}

a:visited{
    color: #638a3e;
}

a:hover{
    color: #dfacb5;
}
a:active{
    color: #edff48;
}